.about-image img,
.contact-image img {
  width: 100%;
  max-width: 800px;
  display: block;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

h2 {
  color: #003566;
  font-size: 2em;
  margin-bottom: 10px;
}

